.container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  overflow: auto;
  height: calc(100vh - 64px);
  position: relative;
}

.bodyContainer {
  display: flex;
  width: 100%;
}

.mainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.inputs {
  padding-top: 20px;
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(158, 158, 158);
    width: 100%;
  }
  div {
    padding: 20px 10px;

    label {
      display: block;
      font-size: 12px;
    }
  }
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  background-color: #1eb9ff;
  color: #fff;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.personal {
  width: 48%;
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }

  h3 {
    display: inline-block;
    padding-right: 5px;
  }
  p {
    display: inline-block;
    text-decoration: underline;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
  }
}

.userImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  p {
    user-select: none;
    padding-top: 10px;
  }
}

.avatar {
  position: relative;
}
.imageText {
  visibility: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 19, 19, 0.6);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-radius: 50%;
}
.badge {
  cursor: pointer;
  &:hover .smallAvatar {
    transform: scale(1.3);
  }
  &:hover .imageText {
    visibility: visible;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    width: 48%;
    input {
      width: 100%;
    }
    padding: 0;
  }
}

.modalfix {
  width: 100%;
  position: relative;
}
